/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .headerAlert {
  background-color: #ff7474;
  padding: 0rem 0;
  color:white;
  font-weight: bold;
  text-align: center;
 }

 .headerAlertClose {
  color: white;
  cursor: pointer;
  position: absolute;
  
  right: 0.75rem;
 }

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
